:root {
  --blue-color: #1D7DC1;
  --green-color: #068a41;
  --yellow-color: #f0ee2a;
  --dark-soft: #3c3d37;
}

.bg-blue {
  background-color: var(--blue-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-yellow {
  background-color: var(--yellow-color);
}

.text-blue {
  color: var(--blue-color);
}
.text-green {
  color: var(--green-color);
}
.text-yellow {
  color: var(--yellow-color);
}

.text-dark-soft {
  color: var(--dark-soft);
}

input::placeholder {
  color: #6c757d;
  font-size: 0.955rem;
}

.form-control:focus {
  box-shadow: none;
}

.label-input {
  margin-bottom: 5px;
  margin-left: 2px;
  font-size: 1em;
  font-weight: 600;
}

.invalid-form {
  width: 100%;
  padding-left: 5px;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #fd5c70;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #fd5c70;
  padding-right: unset;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23fd5c70' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23fd5c70' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem 1rem;
}